*
{
  margin: 0;
  padding: 0;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html,
body
{
  overflow: hidden;
}

.first-person-controls__body {
  position: relative;
}

.first-person-controls__key-controls-container {
  position: absolute;
  bottom: 0;
  z-index: 99999;
  color: #66666680;
  width: 100%;
  padding: 24px;
}

.first-person-controls__key-controls-container:hover {
  color: #666666;
}

.first-person-controls__key-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 16px;
}

.first-person-controls__key-controls-w, .first-person-controls__key-controls-a, .first-person-controls__key-controls-s, .first-person-controls__key-controls-d {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #66666680;
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.first-person-controls__key-controls-w:hover, .first-person-controls__key-controls-a:hover, .first-person-controls__key-controls-s:hover, .first-person-controls__key-controls-d:hover {
  border: solid 2px #666666;
}

.first-person-controls__key-controls-asd {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
