*
{
  margin: 0;
  padding: 0;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html,
body
{
  overflow: hidden;
}

.controls__body {
  position: relative;
}

.controls__key-controls-container {
  position: absolute;
  top: 0;
  z-index: 0;
  color: #666666;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.lil-gui {
  z-index: 1000 !important;
}

.controls__tile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.controls__description {
  font-size: 18px;
}

.controls__key-controls {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: fit-content;
  gap: 16px;
  font-size: 14px;
}

.controls__key, .controls__space-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #666666;
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 4px;
  text-transform: uppercase;
}

.controls__space-key {
  width: 46px;
}

.controls__key-controls-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
