*
{
  margin: 0;
  padding: 0;
}

.webgl
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

html,
body
{
  overflow: hidden;
}

.first-person-controls__body {
  position: relative;
}

.first-person-controls__key-controls-container {
  position: absolute;
  top: 0;
  z-index: 99999;
  color: #666666;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.first-person-controls__title {
  font-size: 18px;
}

.first-person-controls__key-controls {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: fit-content;
  gap: 16px;
  font-size: 14px;
}

.first-person-controls__key, .first-person-controls__space-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #666666;
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 4px;
  text-transform: uppercase;
}

.first-person-controls__space-key {
  width: 46px;
}

.first-person-controls__key-controls-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
